Source/MVC5/Boilerplate.Web.Mvc5.Sample/NWebsecConfig/HttpHeaderSecurityModuleConfig.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Copyright (c) André N. Klingsheim. See NWebsec project website for license information. -->
<xs:schema id="httpheadersecuritymoduleconfigschema" attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://nwebsec.com/HttpHeaderSecurityModuleConfig.xsd" targetNamespace="http://nwebsec.com/HttpHeaderSecurityModuleConfig.xsd">
  <xs:simpleType name="simple_boolean">
    <xs:restriction base="xs:NMTOKEN">
      <xs:enumeration value="false" />
      <xs:enumeration value="true" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="HpkpStoreLocationEnum">
    <xs:restriction base="xs:normalizedString">
      <xs:enumeration value="CurrentUser">
        <xs:annotation>
          <xs:documentation>The X.509 certificate store used by the current user.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="LocalMachine">
        <xs:annotation>
          <xs:documentation>The X.509 certificate store assigned to the local machine.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="HpkpStoreNameEnum">
    <xs:restriction base="xs:normalizedString">
      <xs:enumeration value="AddressBook ">
        <xs:annotation>
          <xs:documentation>The X.509 certificate store for other users.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="AuthRoot">
        <xs:annotation>
          <xs:documentation>The X.509 certificate store for third-party certificate authorities (CAs).</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="CertificateAuthority">
        <xs:annotation>
          <xs:documentation>The X.509 certificate store for intermediate certificate authorities (CAs).</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="My">
        <xs:annotation>
          <xs:documentation>The X.509 certificate store for personal certificates.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Root">
        <xs:annotation>
          <xs:documentation>The X.509 certificate store for trusted root certificate authorities (CAs).</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="TrustedPeople">
        <xs:annotation>
          <xs:documentation>The X.509 certificate store for directly trusted people and resources.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="TrustedPublisher">
        <xs:annotation>
          <xs:documentation>The X.509 certificate store for directly trusted publishers.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="XFrameOptionsEnumType">
    <xs:restriction base="xs:normalizedString">
      <xs:enumeration value="Deny">
        <xs:annotation>
          <xs:documentation>The X-Frame-Options header should be set in the HTTP response, instructing the browser to not display the page when it is loaded in an iframe.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="SameOrigin">
        <xs:annotation>
          <xs:documentation>The X-Frame-Options header should be set in the HTTP response, instructing the browser to display the page when it is loaded in an iframe - but only if the iframe is from the same origin as the page.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Disabled">
        <xs:annotation>
          <xs:documentation>The X-Frame-Options header should not be set in the HTTP response.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="XXssProtection">
    <xs:restriction base="xs:normalizedString">
      <xs:enumeration value="FilterEnabled">
        <xs:annotation>
          <xs:documentation>The X-Xss-Protection header should be set in the HTTP response, explicitly enabling the IE XSS filter.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="FilterDisabled">
        <xs:annotation>
          <xs:documentation>The X-Xss-Protection header should be set in the HTTP response, explicitly enabling the IE XSS filter.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Disabled">
        <xs:annotation>
          <xs:documentation>The X-Xss-Protection header should not be set in the HTTP response.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="httpHeaderSecurityModule" >
    <xs:annotation>
      <xs:documentation>Configuration section for the NWebsec HttpHeaderSecurityModule</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:all>
        <xs:element name="setNoCacheHttpHeaders" minOccurs="0" maxOccurs="1">
          <xs:annotation>
            <xs:documentation>Specifies whether appropriate headers to prevent browser caching should be set in the HTTP responses.</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:attribute name="enabled" type="simple_boolean" use="required">
              <xs:annotation>
                <xs:documentation>This attribute is required.</xs:documentation>
              </xs:annotation>
            </xs:attribute>
          </xs:complexType>
        </xs:element>
        <xs:element name="x-Robots-Tag" minOccurs="0" maxOccurs="1">
          <xs:annotation>
            <xs:documentation>Specifies whether the X-Robots-Tag header should be set in the HTTP responses.</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:attribute name="enabled" type="simple_boolean" use="required">
              <xs:annotation>
                <xs:documentation>This attribute is required.</xs:documentation>
              </xs:annotation>
            </xs:attribute>
            <xs:attribute name="noIndex" type="simple_boolean" use="optional">
              <xs:annotation>
                <xs:documentation>Instructs search engines to not index a page.</xs:documentation>
              </xs:annotation>
            </xs:attribute>
            <xs:attribute name="noFollow" type="simple_boolean" use="optional">
              <xs:annotation>
                <xs:documentation>Instructs search engines to not follow links on a page.</xs:documentation>
              </xs:annotation>
            </xs:attribute>
            <xs:attribute name="noSnippet" type="simple_boolean" use="optional">
              <xs:annotation>
                <xs:documentation>Instructs search engines to not display a snippet for a page in search results.</xs:documentation>
              </xs:annotation>
            </xs:attribute>
            <xs:attribute name="noArchive" type="simple_boolean" use="optional">
              <xs:annotation>
                <xs:documentation>Instructs search engines to not offer a cached version of a page in search results.</xs:documentation>
              </xs:annotation>
            </xs:attribute>
            <xs:attribute name="noOdp" type="simple_boolean" use="optional">
              <xs:annotation>
                <xs:documentation>Instructs search engines to not use information from the Open Directory Project (ODP) for a page's title or snippet.</xs:documentation>
              </xs:annotation>
            </xs:attribute>
            <xs:attribute name="noTranslate " type="simple_boolean" use="optional">
              <xs:annotation>
                <xs:documentation>Instructs search engines to not offer translation of a page in search results (Google only).</xs:documentation>
              </xs:annotation>
            </xs:attribute>
            <xs:attribute name="noImageIndex" type="simple_boolean" use="optional">
              <xs:annotation>
                <xs:documentation>Instructs search engines to not index images on the page (Google only).</xs:documentation>
              </xs:annotation>
            </xs:attribute>
          </xs:complexType>
        </xs:element>
        <xs:element name="redirectValidation" minOccurs="0" maxOccurs="1">
          <xs:annotation>
            <xs:documentation>
              Specifies whether to validate redirects in the application. Redirects to relative URIs and
              to the same scheme/host/port are allowed. Redirects to other destinations must be explicitly allowed through config.
            </xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence minOccurs="0" maxOccurs="1">
              <xs:element name="allowSameHostRedirectsToHttps" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                  <xs:documentation>Specifies whether redirects to HTTPS on the same host should be allowed.</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:attribute name="enabled" type="simple_boolean" use="required">
                    <xs:annotation>
                      <xs:documentation>This attribute is required.</xs:documentation>
                    </xs:annotation>
                  </xs:attribute>
                  <xs:attribute name="httpsPorts" type="xs:string" use="optional">
                    <xs:annotation>
                      <xs:documentation>Optional. Specifies allowed destination port(s) for redirects to HTTPS. The default HTTPS port (443) is assumed if no value is configured. Specify multiple ports through a comma-separated list.</xs:documentation>
                    </xs:annotation>
                  </xs:attribute>
                </xs:complexType>
              </xs:element>
              <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element name="add" type="RedirectUri"  />
                <xs:element name="remove" type="RedirectUri" />
                <xs:element name="clear"/>
              </xs:choice>
            </xs:sequence>
            <xs:attribute name="enabled" type="simple_boolean" use="required">
              <xs:annotation>
                <xs:documentation>This attribute is required.</xs:documentation>
              </xs:annotation>
            </xs:attribute>
          </xs:complexType>
        </xs:element>
        <xs:element name="securityHttpHeaders" minOccurs="0" maxOccurs="1">
          <xs:annotation>
            <xs:documentation>Configures various security HTTP headers.</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:all>
              <xs:element name="x-Frame-Options" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                  <xs:documentation>Specifies whether the X-Frame-Options security header should be set in the HTTP responses.</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:attribute name="policy" type="XFrameOptionsEnumType" use="required">
                    <xs:annotation>
                      <xs:documentation>This attribute is required.</xs:documentation>
                    </xs:annotation>
                  </xs:attribute>
                </xs:complexType>
              </xs:element>
              <xs:element name="strict-Transport-Security" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                  <xs:documentation>Specifies whether the Strict-Transport-Security security header should be set in the HTTP responses.</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:attribute name="max-age" type="xs:string" use="required">
                    <xs:annotation>
                      <xs:documentation>This attribute is required. Specifies for how long the browser should enforce Strict Transport Security. Expects a TimeSpan string.</xs:documentation>
                    </xs:annotation>
                  </xs:attribute>
                  <xs:attribute name="includeSubdomains" type="simple_boolean" use="optional">
                    <xs:annotation>
                      <xs:documentation>Optional. Specifies whether Strict Transport Security also applies to subdomains. The default is false.</xs:documentation>
                    </xs:annotation>
                  </xs:attribute>
                  <xs:attribute name="preload" type="simple_boolean" use="optional">
                    <xs:annotation>
                      <xs:documentation>Optional. Enables the Preload directive in the HSTS header. MaxAge must be at least 18 weeks, and IncludeSubdomains must be enabled. The default is false.</xs:documentation>
                    </xs:annotation>
                  </xs:attribute>
                  <xs:attribute name="upgradeInsecureRequests" type="simple_boolean" use="optional">
                    <xs:annotation>
                      <xs:documentation>Optional. Sets the HSTS header only when the browser signals that it supports the upgrade-insecure-requests CSP directive. The default is false.</xs:documentation>
                    </xs:annotation>
                  </xs:attribute>
                  <xs:attribute name="httpsOnly" type="simple_boolean" use="optional">
                    <xs:annotation>
                      <xs:documentation>Optional. Specifies that the HSTS header should be set for HTTPS requests only. The default is true.</xs:documentation>
                    </xs:annotation>
                  </xs:attribute>
                </xs:complexType>
              </xs:element>
              <xs:element name="x-Content-Type-Options" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                  <xs:documentation>Specifies whether the X-Content-Type-Options security header should be set in the HTTP responses.</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:attribute name="enabled" type="simple_boolean" use="required">
                    <xs:annotation>
                      <xs:documentation>This attribute is required.</xs:documentation>
                    </xs:annotation>
                  </xs:attribute>
                </xs:complexType>
              </xs:element>
              <xs:element name="x-Download-Options" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                  <xs:documentation>Specifies whether the X-Download-Options security header should be set in the HTTP responses.</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:attribute name="enabled" type="simple_boolean" use="required">
                    <xs:annotation>
                      <xs:documentation>This attribute is required.</xs:documentation>
                    </xs:annotation>
                  </xs:attribute>
                </xs:complexType>
              </xs:element>
              <xs:element name="x-XSS-Protection" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                  <xs:documentation>Specifies whether the X-XSS-Protection security header should be set in the HTTP responses.</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:attribute name="policy" type="XXssProtection" use="required">
                    <xs:annotation>
                      <xs:documentation>This attribute is required.</xs:documentation>
                    </xs:annotation>
                  </xs:attribute>
                  <xs:attribute name="blockMode" type="simple_boolean" use="optional">
                    <xs:annotation>
                      <xs:documentation>Optional. Specifies whether to enable block mode. The default is true.</xs:documentation>
                    </xs:annotation>
                  </xs:attribute>
                </xs:complexType>
              </xs:element>
              <xs:element name="public-Key-Pins" minOccurs="0" maxOccurs="1" type="hpkpConfigElement">
                <xs:annotation>
                  <xs:documentation>Specifies whether the Public-Key-Pins (HPKP) security header should be set in the HTTP responses.</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="public-Key-Pins-Report-Only" minOccurs="0" maxOccurs="1" type="hpkpConfigElement">
                <xs:annotation>
                  <xs:documentation>Specifies whether the Public-Key-Pins-Report-Only (HPKP-RO) security header should be set in the HTTP responses.</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="content-Security-Policy" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                  <xs:documentation>Configures the Content-Security-Policy header.</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:group ref="cspElements" minOccurs="0" maxOccurs="1"/>
                  <xs:attribute name="enabled" type="simple_boolean" use="required">
                    <xs:annotation>
                      <xs:documentation>This attribute is required.</xs:documentation>
                    </xs:annotation>
                  </xs:attribute>
                </xs:complexType>
              </xs:element>
              <xs:element name="content-Security-Policy-Report-Only" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                  <xs:documentation>Configures the Content-Security-Policy-Report-Only header.</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:group ref="cspElements" minOccurs="0" maxOccurs="1"/>
                  <xs:attribute name="enabled" type="simple_boolean" use="required">
                    <xs:annotation>
                      <xs:documentation>This attribute is required.</xs:documentation>
                    </xs:annotation>
                  </xs:attribute>
                </xs:complexType>
              </xs:element>
            </xs:all>
          </xs:complexType>
        </xs:element>
      </xs:all>
    </xs:complexType>
  </xs:element>
    <xs:complexType name="hpkpConfigElement">
      <xs:all>
        <xs:element name="certificates" minOccurs="0" maxOccurs="1" type="hpkpCertsElement">
          <xs:annotation>
            <xs:documentation>Specifies one or more certs that should be pinned.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="pins" minOccurs="0" maxOccurs="1" type="hpkpPinsElement">
          <xs:annotation>
            <xs:documentation>Specifies one or more pins.</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:all>
      <xs:attribute name="max-age" type="xs:string" use="required">
        <xs:annotation>
          <xs:documentation>This attribute is required. Specifies for how long the browser should enforce HPKP. Expects a TimeSpan string.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="includeSubdomains" type="simple_boolean" use="optional">
        <xs:annotation>
          <xs:documentation>Optional. Specifies whether HPKP also applies to subdomains. The default is false.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="httpsOnly" type="simple_boolean" use="optional">
        <xs:annotation>
          <xs:documentation>Optional. Specifies that the HPKP header should be set for HTTPS requests only. The default is true.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="report-uri" type="xs:string" use="optional">
        <xs:annotation>
          <xs:documentation>This attribute is optional. Specifies a report URI where pin validation failures should be reported.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
    </xs:complexType>
  <xs:complexType name="hpkpCertsElement">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element name="add" type="hpkpCert" />
      <xs:element name="remove" type="hpkpCert" />
      <xs:element name="clear"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="hpkpCert">
    <xs:attribute name="thumbprint" type="xs:hexBinary" use="required">
      <xs:annotation>
        <xs:documentation>This attribute is required. Specifies the thumbprint for the certificate to pin.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="storeLocation" type="HpkpStoreLocationEnum" use="optional">
      <xs:annotation>
        <xs:documentation>This attribute is optional. Specifies the location of the X.509 certificate store. The default is LocalMachine.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="storeName" type="HpkpStoreNameEnum" use="optional">
      <xs:annotation>
        <xs:documentation>This attribute is optional. Specifies the name of the X.509 certificate store to open. The default is My.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="hpkpPinsElement">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element name="add" type="hpkpPin" />
      <xs:element name="remove" type="hpkpPin" />
      <xs:element name="clear"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="hpkpPin">
    <xs:attribute name="pin" type="xs:base64Binary" use="required">
      <xs:annotation>
        <xs:documentation>This attribute is required. Specifies a certificate pin as the Base64 encoded SHA-256 hash of a certficate's SPKI.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="RedirectUri">
    <xs:attribute name="allowedDestination" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>
          This attribute is required. Specifies a base URI for where redirects are allowed, redirects to sub paths of the URI are also allowed. The URI must include scheme,
          host and optionally port and a path. Example: https://www.nwebsec.com/somepath allows redirects to https://www.nwebsec.com/somepath and
          https://www.nwebsec.com/somepath/subpath but not https://www.nwebsec.com/
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="cspSource">
    <xs:attribute name="source" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>
          This attribute is required. Specifies a source. Source examples are scheme only ("https:"), any host ("*"),
          a host ("*.nwebsec.com", "www.nwebsec.com", "https://www.nwebsec.com", "www.nwebsec.com:443", "https://www.nwebsec.com:*").
          See the Content Security Policy 1.0 standard for details.
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="cspReportUri">
    <xs:attribute name="report-uri" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>This attribute is required. Specifies a report Uri.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="cspMediaType">
    <xs:attribute name="media-type" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>This attribute is required. Specifies a media type.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
 <xs:complexType name="BaseCspElement">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element name="add" type="cspSource" />
      <xs:element name="remove" type="cspSource" />
      <xs:element name="clear"/>
    </xs:choice>
    <xs:attributeGroup ref="BaseCspAttributes"/>
  </xs:complexType>
  <xs:complexType name="UnsafeInlineCspElement">
    <xs:complexContent>
      <xs:extension base="BaseCspElement">
        <xs:attribute name="unsafeInline" type="simple_boolean" use="optional">
          <xs:annotation>
            <xs:documentation>Optional. Specifies whether to include the 'unsafe-inline' source. The default is false.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="UnsafeInlineUnsafeEvalCspElement">
    <xs:complexContent>
      <xs:extension base="UnsafeInlineCspElement">
        <xs:attribute name="unsafeEval" type="simple_boolean" use="optional">
          <xs:annotation>
            <xs:documentation>Optional. Specifies whether to include the 'unsafe-eval' source. The default is false.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:group name="cspElements">
    <xs:all>
      <xs:element name="default-src" minOccurs="0" maxOccurs="1" type="BaseCspElement">
        <xs:annotation>
          <xs:documentation>Configures the default-src CSP directive (CSP 1.0).</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="script-src" minOccurs="0" maxOccurs="1" type="UnsafeInlineUnsafeEvalCspElement">
        <xs:annotation>
          <xs:documentation>Configures the script-src CSP directive (CSP 1.0).</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="style-src" minOccurs="0" maxOccurs="1" type="UnsafeInlineCspElement">
        <xs:annotation>
          <xs:documentation>Configures the style-src CSP directive (CSP 1.0).</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="object-src" minOccurs="0" maxOccurs="1" type="BaseCspElement">
        <xs:annotation>
          <xs:documentation>Configures the object-src CSP directive (CSP 1.0).</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="img-src" minOccurs="0" maxOccurs="1" type="BaseCspElement">
        <xs:annotation>
          <xs:documentation>Configures the img-src CSP directive (CSP 1.0).</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="media-src" minOccurs="0" maxOccurs="1" type="BaseCspElement">
        <xs:annotation>
          <xs:documentation>Configures the media-src CSP directive (CSP 1.0).</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="frame-src" minOccurs="0" maxOccurs="1" type="BaseCspElement">
        <xs:annotation>
          <xs:documentation>Configures the frame-src CSP directive (CSP 1.0). This directive has been deprecated in CSP 2, consider using child-src instead.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="font-src" minOccurs="0" maxOccurs="1" type="BaseCspElement">
        <xs:annotation>
          <xs:documentation>Configures the font-src CSP directive (CSP 1.0).</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="connect-src" minOccurs="0" maxOccurs="1" type="BaseCspElement">
        <xs:annotation>
          <xs:documentation>Configures the connect-src CSP directive (CSP 1.0).</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="base-uri" minOccurs="0" maxOccurs="1" type="BaseCspElement">
        <xs:annotation>
          <xs:documentation>Configures the base-uri CSP directive (CSP 2).</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="child-src" minOccurs="0" maxOccurs="1" type="BaseCspElement">
        <xs:annotation>
          <xs:documentation>Configures the child-src CSP directive (CSP 2).</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="form-action" minOccurs="0" maxOccurs="1" type="BaseCspElement">
        <xs:annotation>
          <xs:documentation>Configures the form-action CSP directive (CSP 2).</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="frame-ancestors" minOccurs="0" maxOccurs="1" type="BaseCspElement">
        <xs:annotation>
          <xs:documentation>Configures the frame-ancestors CSP directive (CSP 2).</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="plugin-types" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Configures the plugin-types CSP directive (CSP 2).</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element name="add" type="cspMediaType" />
            <xs:element name="remove" type="cspMediaType" />
            <xs:element name="clear"/>
          </xs:choice>
          <xs:attribute name="enabled" type="simple_boolean" use="optional">
            <xs:annotation>
              <xs:documentation>Optional. Specifies whether to enable the source directive. The default is true.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
        </xs:complexType>
      </xs:element>
      <xs:element name="sandbox" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Configures the sandbox CSP directive (CSP 2).</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:attribute name="enabled" type="simple_boolean" use="required">
            <xs:annotation>
              <xs:documentation>This attribute is required. Specifies whether to include the sandbox CSP directive (CSP 1.0).</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="allow-forms" type="simple_boolean" use="optional">
            <xs:annotation>
              <xs:documentation>Optional. Specifies whether to include the allow-forms source. The default is false.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="allow-pointer-lock" type="simple_boolean" use="optional">
            <xs:annotation>
              <xs:documentation>Optional. Specifies whether to include the allow-pointer-lock source. The default is false.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="allow-popups" type="simple_boolean" use="optional">
            <xs:annotation>
              <xs:documentation>Optional. Specifies whether to include the allow-popups source. The default is false.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="allow-same-origin" type="simple_boolean" use="optional">
            <xs:annotation>
              <xs:documentation>Optional. Specifies whether to include the allow-same-origin source. The default is false.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="allow-scripts" type="simple_boolean" use="optional">
            <xs:annotation>
              <xs:documentation>Optional. Specifies whether to include the allow-scripts source. The default is false.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="allow-top-navigation" type="simple_boolean" use="optional">
            <xs:annotation>
              <xs:documentation>Optional. Specifies whether to include the allow-top-navigation source. The default is false.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
        </xs:complexType>
      </xs:element>
      <xs:element name="upgrade-insecure-requests" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Configures the upgrade-insecure-requests CSP directive.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:attribute name="enabled" type="simple_boolean" use="required">
            <xs:annotation>
              <xs:documentation>This attribute is required. Specifies whether to include the upgrade-insecure-requests CSP directive and redirect conformant UAs to HTTPS.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="httpsPort" type="xs:integer" use="optional">
            <xs:annotation>
              <xs:documentation>Optional. Specifies the HTTPS port. The default is 443.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
        </xs:complexType>
      </xs:element>
      <xs:element name="report-uri" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Configures the report-uri CSP directive.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element name="add" type="cspReportUri" />
            <xs:element name="remove" type="cspReportUri" />
            <xs:element name="clear"/>
          </xs:choice>
          <xs:attribute name="enableBuiltinHandler" type="simple_boolean" use="optional">
            <xs:annotation>
              <xs:documentation>Optional. Specifies whether to enable the built in CSP report handler. The default is false.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="enabled" type="simple_boolean" use="optional">
            <xs:annotation>
              <xs:documentation>Optional. Specifies whether to enable the report-uri directive. The default is true.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
        </xs:complexType>
      </xs:element>
    </xs:all>
  </xs:group>
  <xs:attributeGroup name="BaseCspAttributes">
    <xs:attribute name="self" type="simple_boolean" use="optional">
      <xs:annotation>
        <xs:documentation>Optional. Specifies whether to include the 'self' source. The default is false.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="none" type="simple_boolean" use="optional">
      <xs:annotation>
        <xs:documentation>Optional. Specifies whether to include the 'none' source. The default is false.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="enabled" type="simple_boolean" use="optional">
      <xs:annotation>
        <xs:documentation>Optional. Specifies whether to enable the source directive. The default is true.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
</xs:schema>